.zone {
  .select-zone {
    .zone-body {
      div {
        div {
          position: relative;
          border: 1px solid rgba(0, 0, 0, 0.215);
          width: 27px;
          height: 27px;
          text-decoration: none;
          border-radius: 5px;
          overflow: hidden;
          cursor: pointer;
          text-align: center;
          &.empty-seat {
            &:hover {
              border-color: red;
            }
          }
          &.busy-seat{
            background-color: #000000c4 !important;
            color: rgb(255 255 255 / 32%) !important;
            cursor: default !important;
          }
        
          &.selected {
            background-color: blue !important;
            color: rgba(255, 255, 255, 0.745);
          }
          &.another {
            // background: url("../../../public/wheelchairaccess.png");
            background-position: center;
            background-size: 75%;
            background-repeat: no-repeat;
            color: transparent;
            & .selected {
              background-color: rgba(0, 0, 255, 0.823) !important;
              color: transparent;
            }
          }
        }
      }
    }
  }
}
