#cine-bonus {
  padding-top: 50px;
  height: 100vh;
  .container {
    h4 {
      font-size: 16px;
      color: #314ca0;
      padding: 15px 0;
      border-bottom: 1px solid #cccccc;
    }
    h6 {
      font-size: 14px;
      color: #00000096;
      letter-spacing: 1px;
    }
  }
}
