header {
  height: 115px;
  z-index: 99999999999999;
  #header-default {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    box-shadow: 0 0 10px 8px rgb(202, 202, 202);
    z-index: 99999999999999;
    .container {
      .header-top {
        background-color: white;
        height: 58px;
        ul {
          margin: 0;
          padding: 0;
          padding-left: 40px;
          list-style: none;
          li {
            display: inline-block;
            display: flex;
            gap: 10px;
            a {
              text-decoration: none;
              color: #6a6a6a;
              font-size: 14px;
              line-height: 16px;
              font-weight: 500;
              img {
                width: 17px;
                height: 17px;
              }
            }
            &.main-menu {
              &:hover {
                a {
                  color: black;
                }
              }
            }
            &.lang {
              a {
                color: black;
                &:hover {
                  color: #6a6a6a;
                }
              }
            }
          }
        }
      }
    }
    .header-bottom {
      background: #00acec;
      height: 57px;
      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        li {
          width: 100%;
          cursor: pointer;
          display: inline-block;
          height: 57px;
          position: relative;
          a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            span {
              display: block;
              font-size: 10px;
              font-weight: 400;
            }
          }
          &.call-center {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            cursor: default;
            div {
              text-align: right;
              a {
                color: white;
                width: 100%;
                font-size: 11px;
                font-weight: 500;
                letter-spacing: 1px;
              }
            }
          }

          &.main-menu:hover {
            background-color: #334e9e;
          }
        }
      }
    }
    .header-left-side {
      background-color: #334e9e;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999999999999;
      height: 115px;
      width: calc(100% / 12 * 5);
      img {
        padding: 10px 0 10px 20%;
      }
    }
  }
  #header-responsive {
    position: fixed;
    width: 100%;
    top: 0;
    display: none;
    z-index: 999999999999;
    box-shadow: 0 0 10px 10px rgb(120, 120, 120);
    .header-top {
      background-color: white;
      height: 58px;
      .container {
        .lang {
          display: flex;
          gap: 8px;
          a {
            text-decoration: none;
            color: #6a6a6a;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            img {
              width: 17px;
              height: 17px;
            }
          }
        }
      }
    }
    .header-bottom {
      background-color: #334e9e;
      height: 57px;
      z-index: 999999999;
      .logo-side {
        img {
          width: 130px;
        }
      }
      .button-side {
        cursor: pointer;
          span {
            background: #fff;
            display: inline-block;
            width: 45px;
            height: 2px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              background: #fff;
              width: 45px;
              height: 2px;
              top: 10px;
            }
            &::before {
              content: "";
              position: absolute;
              background: #fff;
              width: 45px;
              height: 2px;
              top: -10px;
            }
          }
      }
      .toggle-menu {
        transition: 0.5s ease-out;
        background-color: #334e9e;
        position: absolute;
        top: 100%;
        width: 100%;
        overflow: hidden;
        height: 0;
        overflow: hidden;
        > div {
          padding: 40px 15px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            padding: 10px 0;
            border-bottom: 1px solid white;
            a {
              color: #00acec;
              font-size: 18px;
              font-weight: 500;
              letter-spacing: 1px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
