footer {
  background: url("https://www.cinemaplus.az/site/templates/images/prices_bg.jpg")
    no-repeat center center;
  background-size: cover;
  .top-footer {
      border-bottom: 1px solid white;
      padding: 20px 0;
    .left-side {
        gap: 100px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          transition: 0.5s all;
          &:hover {
            transform: scale(1.05);
            a {
              color: rgba(255, 255, 255, 0.471);
            }
          }
          a {
            text-decoration: none;
            color: white;
            font-weight: 500;
          }
        }
      }
    }
  }
  .bottom-footer{
      padding: 15px 0;
      .left-side{
p{
color: white;
margin: 0;
}
a{
color: white;
}
      }
      .right-side{
a{
    img{
        width: 133px;
        height: 50px;
    }
}
      }
  }
}
