body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 992px) {
  #header-default {
    display: none !important;
  }
  #header-responsive {
    display: block !important;
  }
  #cinemaplus-news {
    display: none;
  }
  #socials-icons {
    border: 0 !important;
  }
  iframe {
    height: 400px;
  }
  #news-detail .button-all {
    padding: 10px 20px !important;
  }
  #tab-header {
    margin-top: 30px !important;
  }
  #session .column-format {
    display: none !important;
  }
  #session .row-format {
    display: none !important;
  }
  #session .row-film {
    width: inherit !important;
  }
  .right-side .gmap_canvas #gmap_canvas{
    height: 650px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  #tab-header {
    margin-top: 10px !important;
  }
  #tab-header div ul .react-tabs__tab {
    font-size: 14px !important;
    padding: 10px 5px !important;
  }
  #parallax {
    display: none !important;
  }
  iframe {
    height: 180px;
  }
  #news-detail .right-side {
    margin-bottom: 20px;
  }
  #news-detail .button-all {
    padding: 10px 0 !important;
  }

  #all-news .left-side .card {
    padding-bottom: 20px;
    justify-content: center !important;
    align-items: center !important;
  }
  #all-news .left-side .card .card-body {
    text-align: center;
  }
  #movie-about .row .left-side {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center !important;
  }

  #movie-about .row .left-side .image img {
    width: 200px !important;
    height: 300px !important;
  }
  #about .about-us {
    text-align: center;
  }
  #session .column-format {
    display: block !important;
  }
  #session .row-format {
    display: block !important;
  }
  #session thead {
    display: none;
  }
  #session tbody tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  #session tbody tr td {
    border: 0;
  }
  #session tbody .row-buy {
    border-bottom: 1px solid #dcdcdc;
  }
  #session .header-filter .filter-date .date-today,
  #session .header-filter .filter-date .date-tomorrow {
    display: none !important;
  }
  #session .header-filter .filter-date .date-custom {
    border-radius: 50px !important;
    width: 250px !important;
  }
  .zone .select-zone {
    width: 100% !important;
  }
  .zone .select-zone .zone-footer .zone-screen .screen-text {
    font-size: 14px !important;
  }
  .zone .select-zone .zone-footer .total-amount{
    align-items: center !important;
  }
  .zone .select-zone .zone-footer .payment-button{
    align-items: center !important;
  }
}
