body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 992px) {
  #header-default {
    display: none !important;
  }
  #header-responsive {
    display: block !important;
  }
  #cinemaplus-news {
    display: none;
  }
  #socials-icons {
    border: 0 !important;
  }
  iframe {
    height: 400px;
  }
  #news-detail .button-all {
    padding: 10px  20px !important;
    }
}

@media screen and (max-width: 768px) {
  #tab-header > div ul .react-tabs__tab {
    font-size: 14px !important;
    padding: 15px 10px;
  }
  #parallax {
    display: none !important;
  }
  iframe {
    height: 180px;
  }
  #news-detail .right-side{
    margin-bottom: 20px;
  }
  #news-detail .button-all {
  padding: 10px  0 !important;
  }
 
  #all-news .left-side .card{
    padding-bottom: 20px;
    justify-content: center !important;
    align-items: center !important;
  }
  #all-news .left-side .card .card-body{
    text-align: center;
  }
}
