#cinemaplus-news {
  margin-top: 80px;
  > div {
    margin: 0;
    padding: 0;
    .tab-cinemaplus {
      cursor: pointer;
      list-style: none;
      border-radius: 5px 5px 0 0;
      text-decoration: none;
      color: black;
      padding: 15px 20px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      background: #334e9e;
      color: white;
    }
  }
  .news-body {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #334e9e;
    .container {
      overflow: hidden;
      > div {
        transition: 0.8s ease-out;
        .card {
          border: 0;
          padding: 20px;
          background-color: transparent;
          &:hover {
            img {
              transform: scale(1.1);
            }
            .card-body {
              a {
                color: #0dcaf0;
                text-decoration: underline;
              }
            }
          }
          .card-image {
            overflow: hidden;
            border-radius: 5px;
          a{
            width: 100%;
            img {
              width: 100%;
              height: 150px;
              transition: 0.5s all;
            }
          }
          }
          .card-body {
            padding: 15px 0;
            h6 {
              color: rgba(255, 255, 255, 0.752);
              font-size: 16px;
              font-weight: 500;
            }
            a {
              text-decoration: none;
              color: white;
              font-size: 16px;
              font-weight: 500;
              padding: 5px 0;
              transition: 0.5s all;
              line-height: 25px;
            }
            p {
              color: rgba(255, 255, 255, 0.752);
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
      .pagination {
        padding-top: 30px;
        span {
          cursor: pointer;
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background-color: #869791;
          &:hover {
            background-color: #a7dbdb;
          }
          &.active {
            background-color: #a7dbdb;
          }
        }
      }
      .all-news {
        padding-top: 30px;
        a {
          transition: 0.5s all;
          color: white;
          letter-spacing: 2px;
          font-weight: 600;
          &:hover {
            transform: scale(1.03);
            color: rgba(255, 255, 255, 0.527);
          }
        }
      }
    }
  }
}
.next-one {
  transform: translate(-100%);
}
.next-two {
  transform: translate(-200%);
}
